<mat-nav-list>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>computer</mat-icon>
    Circular
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>computer</mat-icon>
    Welcome
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>computer</mat-icon>
    Student Profile
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>computer</mat-icon>
    Academic Reports
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>computer</mat-icon>
    Student
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>computer</mat-icon>
    Unified Time Table
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>computer</mat-icon>
    Course Feedback
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>computer</mat-icon>
    New Regulation
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>computer</mat-icon>
    My Time Table & Attendance
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>computer</mat-icon>
    Student Service Requests
  </a>
</mat-nav-list>
