<span class="highlight">
  <strong>
    <font color="yellow">Date:28-Feb-22</font>
  </strong>
</span>
<br />
<span class="highlight">
  <strong>
    <font color="yellow">Day Order: 3</font>
  </strong>
</span>
<p></p>
<p style="color: red">
  Early symptoms of Covid-19 :-
  <font color="blue">
    Sore throat, dry cough, fever, cold, loss of smell, loss of taste etc. If
    any of the above symptoms are noticed contact emergency helpline.</font
  >
</p>
<p style="color: blue">
  Emergency Contact :-
  <strong class="b-highlight">044 - 2 7 4 5 2 7 2 7</strong>
</p>
<p style="color: blue">
  Mobile:-
  <strong class="b-highlight">9 7 8 9 8 8 8 4 5 3 / 9 9 4 0 0 9 6 0 1 2</strong>
</p>
<div>
  <img
    src="/assets/images/academia-new.jpg"
    width="400"
    height="250"
    class="center"
  />
</div>
<p></p>
<div>
  <p class="text-center">
    SRM Academia is the Official Student/Parent Portal of SRM's Faculty of
    Engineering and Technology which aims at providing a better experience to
    the students to access the academic web services. The portal is a gateway to
    your academic information such as attendance, internal marks, timetable,
    etc.
  </p>
</div>
