span.highlight {
  background-color: blue;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  padding: 0 100px;
  text-align: center;
  font-weight: 400;
  font-size: larger;
  line-height: 2;
}
.b-highlight {
  background-color: #2b82d3;
  color: white;
}
